/*

  REGULAR HOLO

*/







/*

  SHINE LAYERS

*/

.card[data-rarity="rare holo"] .card__shine {

  --scanlines-space: 1px;
  --scanlines-light: #666;
  --scanlines-dark: black;

  --bars: 3%;
  --bar-color: hsla(0, 0%, 70%, 1);
  --bar-bg: hsla(0, 0%, 0%, 1);

  clip-path: inset( 10% 8.5% 52.5% 8.5% );

  background-image: 
    repeating-linear-gradient( 110deg, 
      var(--violet), var(--blue), var(--green), var(--yellow), var(--red), 
      var(--violet), var(--blue), var(--green), var(--yellow), var(--red),
      var(--violet), var(--blue), var(--green), var(--yellow), var(--red)
    );

  background-position: calc(((50% - var(--position-x)) * 2.6) + 50%) calc(((50% - var(--position-y)) * 3.5) + 50%);
  background-size: 600% 600%;

  filter: brightness(1) contrast(1.2);
  mix-blend-mode: color-dodge;

}

.card[data-rarity="rare holo"] .card__shine:before {
  
  content: "";

  background-image:
    repeating-linear-gradient( 90deg, 
      var(--scanlines-dark) calc(var(--scanlines-space) * 0), var(--scanlines-dark) calc(var(--scanlines-space) * 2),
      var(--scanlines-light) calc(var(--scanlines-space) * 2), var(--scanlines-light) calc(var(--scanlines-space) * 4)
    );

  /* background-blend-mode: multiply; */
  background-position: center center;
  background-size: cover;

  filter: brightness( 2 ) contrast( 4 ) saturate( 1 );
  mix-blend-mode: color-burn;

}

.card[data-rarity="rare holo"] .card__shine:after {

  content: "";

  background-image:
    repeating-linear-gradient( calc( 90deg - ( var(--pointer-from-left) - 0.5) * -7deg ), 
      var(--bar-bg) calc(var(--bars)*2), var(--bar-color) calc(var(--bars)*3), var(--bar-bg) calc(var(--bars)*3.5), var(--bar-color) calc(var(--bars)*4), var(--bar-bg) calc(var(--bars)*5), var(--bar-bg) calc(var(--bars)*14)
    ),
    repeating-linear-gradient( calc( 90deg + ( var(--pointer-from-left) - 0.5) * 5deg ), 
      var(--bar-bg) calc(var(--bars)*2), var(--bar-color) calc(var(--bars)*3), var(--bar-bg) calc(var(--bars)*3.5), var(--bar-color) calc(var(--bars)*4), var(--bar-bg) calc(var(--bars)*5), var(--bar-bg) calc(var(--bars)*10)
    ),
    radial-gradient(
      farthest-corner circle 
        at var(--pointer-x) var(--pointer-y), 
        rgba(222, 222, 222, .4) 0%, 
        rgba(100, 100, 100, 0.2) 30%, 
        rgb(0, 0, 0) 90%
      );
    
    background-position: 
      calc((((50% - var(--position-x)) * 3.5) + 50% ) + (var(--position-y) * 0.5)) var(--position-x), 
      calc((((50% - var(--position-x)) * -2) + 50%) - (var(--position-y) * 0.75) ) var(--position-y), 
      center center;
  
    background-size: 
      200% 200%,
      200% 200%,
      cover;

  background-blend-mode: screen, overlay;

  mix-blend-mode: luminosity;
  filter: brightness(.8) contrast(1.2);

}







/*

  GLARE LAYERS

*/

.card[data-rarity="rare holo"] .card__glare {

  opacity: calc( var(--card-opacity) * .8 );
  filter: brightness(0.8) contrast(1.5);
  mix-blend-mode: overlay;

}

.card[data-rarity="rare holo"] .card__glare:after {

  background-image: radial-gradient( farthest-corner circle at var(--pointer-x) var(--pointer-y), rgb(231, 255, 255) 5%, rgba(100, 100, 100, 0.25) 55%, rgba(0, 0, 0, 0.36) 90% );
  mix-blend-mode: overlay;
  filter: brightness(130%) contrast(200%);

}