/*

  SECRET RARE (GOLD)

*/






.card:not(.masked)[data-rarity="rare secret"] .card__shine {

  --foil: url("/img/geometric.png"); 
  --imgsize: 33%;
  
  filter: brightness( calc( ( var( --pointer-from-center ) * 0.3 ) + 0.2 ) ) contrast(2) saturate(0.75);

}
/*

  SHINE LAYERS

*/

.card[data-rarity^="rare secret"] .card__shine {

  --r-clr-1: hsl(0, 57%, 37%);
  --r-clr-2: hsl(40, 53%, 39%);
  --r-clr-3: hsl(90, 60%, 35%);
  --r-clr-4: hsl(180, 60%, 35%);
  --r-clr-5: hsl(180, 60%, 35%);
  --r-clr-6: hsl(210, 57%, 39%);
  --r-clr-7: hsl(280, 55%, 31%);
  --g-clr-1: hsl(41, 68%, 19%);
  --g-clr-2: hsl(36, 37%, 56%);

  background-image: 
    var(--glitter),
    linear-gradient( -30deg, 
      var(--r-clr-1), var(--r-clr-2), var(--r-clr-3), var(--r-clr-4), var(--r-clr-5), var(--r-clr-6), var(--r-clr-7), 
      var(--r-clr-1), var(--r-clr-2), var(--r-clr-3), var(--r-clr-4), var(--r-clr-5), var(--r-clr-6), var(--r-clr-7), 
      var(--r-clr-1), var(--r-clr-2), var(--r-clr-3), var(--r-clr-4), var(--r-clr-5), var(--r-clr-6), var(--r-clr-7), 
      var(--r-clr-1)
    );

  background-blend-mode: soft-light;
  background-size: var(--glittersize) var(--glittersize), 400% 400%;
  background-position: center center, calc( var(--background-x) ) calc( var(--background-y) );
  
  filter: brightness( calc( ( var( --pointer-from-center ) * 0.3 ) + 0.4 ) ) contrast(2) saturate(0.75)

}

.card[data-rarity^="rare secret"] .card__shine:after {

  content: "";

  mask-image: none!important;

  background-image: 
    var(--glitter),
    linear-gradient( -60deg, 
        var(--g-clr-1) 10%, var(--g-clr-2) 50%, var(--g-clr-1) 90%
    );

  background-blend-mode: soft-light;
  background-size: var(--glittersize) var(--glittersize), 400% 400%;
  background-position: center center, calc( 12.5% + (var(--pointer-x) / 1.5 ) ) calc( 25% + (var(--pointer-y) / 2 ) );
  
  filter: brightness( calc( ( var( --pointer-from-center ) * 0.4 ) + 1 ) ) contrast( 1.75 ) saturate( .66 );
  mix-blend-mode: lighten;

}

.card[data-rarity^="rare secret"] .card__shine:before {

  content: "";

  background-image: var(--foil);
  background-size: var(--imgsize);
  background-position: center center;
  
  mix-blend-mode: exclusion;
  filter: brightness(2) contrast(2);
  opacity: calc( ( var( --pointer-from-center ) * 1 ) - .25 );

}










/*

  GLARE LAYERS

*/

.card[data-rarity="rare secret"] .card__glare {

  background-image: 
    radial-gradient( 
      circle at var(--pointer-x) var(--pointer-y), 
      hsla(40, 100%, 97%, 0.95) 0%, 
      hsla(32, 100%, 87%, 0.45) 30%, 
      hsla(0, 0%, 0%, 0.75) 80% 
    );

    opacity: calc( var(--card-opacity) * 0.6 );
    filter: brightness(.9) contrast(1.8);

}