/*

  SECRET RARE (GOLD)

*/






.card:not(.masked)[data-rarity="rare secret"] .card__shine {

  --foil: url("/img/geometric.png"); 
  --imgsize: 33%;
  
  filter: brightness( calc( ( var( --pointer-from-center ) * 0.3 ) + 0.2 ) ) contrast(2) saturate(0.75);

}




/*

  SHINE LAYERS

*/

.card[data-rarity="rare secret"] .card__shine {

  background-image:
    var(--glitter),
    var(--glitter), 
    radial-gradient( 
      farthest-corner circle at var(--pointer-x) var(--pointer-y), 
      hsla(150, 20%, 10%, 1) 10%, 
      hsla(177, 22%, 80%, 0.1) 50%, 
      hsla(0, 0%, 95%, .98) 90% 
    ), 
    linear-gradient( 90deg,hsl(46, 95%, 50%), hsl(52, 100%, 50%) );

  background-size: var(--glittersize) var(--glittersize), var(--glittersize) var(--glittersize), cover, cover;
  background-position: 40% 45%, 55% 55%, center center, center center;
  background-blend-mode: soft-light, multiply,color;
  mix-blend-mode: color-dodge;
  filter: brightness(1) contrast(1) saturate(.9);

}

.card[data-rarity="rare secret"] .card__shine:before {
  
  content: "";
  mask-image: none !important;
  -webkit-mask-image: none !important;

  background-image:
    var(--foil),
    radial-gradient( 
      farthest-corner circle at var(--pointer-x) var(--pointer-y), 
      hsla(10, 20%, 90%, 0.95) 10%, 
      hsla(50, 22%, 63%, 0.5) 50%, 
      hsl(0, 0%, 0%) 60% 
    );

  background-size: cover, cover;
  background-position: center center, center center;
  background-blend-mode: color-burn;

  mix-blend-mode: lighten;
  filter: brightness(1.2) contrast(1) saturate(1);
  opacity: .8;

}

.card[data-rarity="rare secret"] .card__shine:after {

  --shift: 3px;

  content: "";

  mask-image: none !important;
  -webkit-mask-image: none !important;

  background-image: var(--glitter);
  background-size: var(--glittersize) var(--glittersize);
  background-position: calc(50% - ((var(--shift)*2) * var(--pointer-from-left)) + var(--shift)) calc(50% - ((var(--shift)*2) * var(--pointer-from-top)) + var(--shift));

  filter: brightness(calc((var(--pointer-from-center)*0.3) + 0.6)) contrast(2);
  mix-blend-mode: soft-light;

}






/*

  GLARE LAYERS

*/

.card.masked[data-rarity="rare secret"] .card__glare {
	
	background-image: 
    radial-gradient( farthest-corner circle at var(--pointer-x) var(--pointer-y), 
      rgba(207, 205, 199, 0.4) 0%, 
      hsla(22, 15%, 20%, 1) 150% 
    );

	filter: brightness(1) contrast(1.5);
  mix-blend-mode: hard-light;

}

.card.masked[data-rarity="rare secret"][data-trainer-gallery="true"] .card__shine {

  -webkit-mask-image: none;
  mask-image: none;

  background-image: var(--glitter), var(--glitter), radial-gradient( farthest-corner circle at var(--pointer-x) var(--pointer-y), hsl(152.7, 21.6%, 10%) 10%, hsla(177, 22%, 80%, 0.1) 50%, hsla(0, 0%, 95%, .98) 90% ), linear-gradient(90deg,gold,gold);
  background-size: var(--glittersize) var(--glittersize), var(--glittersize) var(--glittersize), cover;
  background-position: 40% 45%, 55% 55%, center center;
  background-blend-mode: soft-light, darken,color;
  filter: brightness(1) contrast(1) saturate(.9);
  mix-blend-mode: color-dodge;

}

.card[data-rarity="rare secret"][data-trainer-gallery="true"] .card__shine::before {

  content: "";
  mask-image: none !important;
  -webkit-mask-image: none !important;
  background-image: var(--foil), radial-gradient( farthest-corner circle at var(--pointer-x) var(--pointer-y), hsla(50, 20%, 90%, 0.95) 10%, rgba(181, 139, 164, 0.5) 50%, hsl(0, 0%, 0%) 60% );
  background-size: cover, cover;
  background-position: center center, center center;
  background-blend-mode: color-burn;
  mix-blend-mode: exclusion;
  filter: brightness(1) contrast(1) saturate(1);
  opacity: 1;

}

.card[data-rarity="rare secret"][data-trainer-gallery="true"] .card__shine::after {

  --shift: 3px;
  content: "";
  mask-image: none !important;
  -webkit-mask-image: none !important;
  background-image: var(--glitter);
  background-size: var(--glittersize) var(--glittersize);
  background-position: calc(50% - ((var(--shift)*2) * var(--pointer-from-left)) + var(--shift)) calc(50% - ((var(--shift)*2) * var(--pointer-from-top)) + var(--shift));
  filter: brightness(calc((var(--pointer-from-center)*0.3) + 0.6)) contrast(2);
  mix-blend-mode: soft-light;

}


.card.masked[data-rarity="rare secret"][data-trainer-gallery="true"] .card__glare {

  background-image: radial-gradient( farthest-corner circle at var(--pointer-x) var(--pointer-y), hsla(0, 6%, 75%, 0.2) 10%, hsl(22.5, 15.7%, 20%) 180% );
  filter: brightness(1) contrast(2);
  mix-blend-mode: hard-light;

}