/*

  TRAINER GALLERY (V MAX)
	some styles inherited from rainbow-alt.css

*/




/*

  SHINE LAYERS

*/







/*

  GLARE LAYERS

*/    


.card[data-rarity="rare holo vmax"][data-trainer-gallery="true"] .card__glare {
  
	background-image: 
		radial-gradient( 
			farthest-corner circle at 
			var(--pointer-x) var(--pointer-y), 
			hsl(50, 30%, 90%) 0%, 
			hsl(162, 5%, 40%), 
			hsl(0, 0%, 0%) 120%
		);

	filter: brightness(1) contrast(1);
	opacity: calc( var(--card-opacity) * var(--pointer-from-center) * 0.85 );

}