




/*

  TRAINER GALLERY SECRET RARE (GOLD & BLACK)

*/






.card:not(.masked)[data-rarity="rare secret"][data-trainer-gallery="true"] .card__shine {

  --foil: url("/img/geometric.png"); 
  --imgsize: 33%;
  
  filter: brightness( calc( ( var( --pointer-from-center ) * 0.3 ) + 0.2 ) ) contrast(2) saturate(0.75);

}

.card:not(.masked)[data-rarity="rare secret"][data-trainer-gallery="true"] .card__glare {

  filter: brightness(.5) contrast(1);

}



/*

  SHINE LAYERS

*/

.card[data-rarity="rare secret"][data-trainer-gallery="true"] .card__shine,
.card[data-rarity="rare secret"][data-trainer-gallery="true"] .card__shine::before,
.card[data-rarity="rare secret"][data-trainer-gallery="true"] .card__shine::after {

  -webkit-mask-image: none !important;
  mask-image: none !important;

}


.card[data-rarity="rare secret"][data-trainer-gallery="true"] .card__shine {

  background-image: 
    var(--glitter), 
    var(--glitter), 
    radial-gradient( 
      farthest-corner circle at var(--pointer-x) var(--pointer-y), 
      hsl(152.7, 21.6%, 10%) 10%, 
      hsla(177, 22%, 80%, 0.1) 50%, 
      hsla(0, 0%, 95%, .98) 90% 
    ), 
    linear-gradient( 45deg, hsl(46, 95%, 50%), hsl(52, 100%, 69%) );

  background-size: 
    var(--glittersize) var(--glittersize), 
    var(--glittersize) var(--glittersize), 
    cover, 
    cover;

  background-position: 
    40% 45%, 
    55% 55%, 
    center center, 
    center center;

  background-blend-mode: soft-light, darken, color;
  filter: brightness(1) contrast(1) saturate(1);
  mix-blend-mode: color-dodge;

}

.card[data-rarity="rare secret"][data-trainer-gallery="true"] .card__shine::before {

  content: "";
  
  background-image: 
    var(--foil), 
    radial-gradient( 
      farthest-corner circle at var(--pointer-x) var(--pointer-y), 
      hsla(50, 20%, 90%, 0.95) 10%,
      hsla(324, 22%, 63%, 0.5) 50%, 
      hsl(0, 0%, 0%) 90% 
    );
  background-size: var(--imgsize), cover;
  background-position: center center, center center;
  background-blend-mode: color-burn;

  mix-blend-mode: exclusion;
  filter: brightness(1) contrast(1) saturate(1);
  opacity: 1;

}

.card[data-rarity="rare secret"][data-trainer-gallery="true"] .card__shine::after {

  content: "";

  background-image: 
    var(--glitter), 
    conic-gradient(  
      var(--sunpillar-clr-4),
      var(--sunpillar-clr-5), 
      var(--sunpillar-clr-6), 
      var(--sunpillar-clr-1), 
      var(--sunpillar-clr-2), 
      var(--sunpillar-clr-3), 
      var(--sunpillar-clr-4)
    );
  background-size: var(--glittersize) var(--glittersize), cover;
  background-blend-mode: luminosity;

  filter: brightness(calc((var(--pointer-from-center)*0.5) + 0.6)) contrast(2) saturate(3);
  mix-blend-mode: soft-light;

}






/*

  GLARE LAYERS

*/

.card[data-rarity="rare secret"][data-trainer-gallery="true"] .card__glare {

  background-image: 
    radial-gradient( 
      farthest-corner circle at var(--pointer-x) var(--pointer-y), 
      hsla(40, 100%, 95%, 0.2) 10%, 
      hsla(40, 20%, 5%, 1) 180%
    );
  filter: brightness(1) contrast(1);
  mix-blend-mode: hard-light;
  
}