/*

  V FULL ART (ULTRA RARE)

*/







/*

  SHINE LAYERS

*/

.card[data-rarity="rare ultra"][data-supertype="pokémon"] .card__shine,
.card[data-rarity="rare ultra"][data-supertype="pokémon"] .card__shine:after,
.card[data-rarity="rare ultra"][data-subtypes*="supporter"] .card__shine,
.card[data-rarity="rare ultra"][data-subtypes*="supporter"] .card__shine:after,
.card[data-rarity="rare holo v"][data-trainer-gallery="true"] .card__shine,
.card[data-rarity="rare holo v"][data-trainer-gallery="true"] .card__shine:after {

  --space: 5%;
  --angle: 133deg;
  --imgsize: cover;

  background-image:
    var(--foil),
    repeating-linear-gradient( 0deg, 
      var(--sunpillar-clr-1) calc(var(--space)*1), 
      var(--sunpillar-clr-2) calc(var(--space)*2), 
      var(--sunpillar-clr-3) calc(var(--space)*3), 
      var(--sunpillar-clr-4) calc(var(--space)*4), 
      var(--sunpillar-clr-5) calc(var(--space)*5), 
      var(--sunpillar-clr-6) calc(var(--space)*6), 
      var(--sunpillar-clr-1) calc(var(--space)*7)
    ),
    repeating-linear-gradient( 
      var(--angle), 
      #0e152e 0%, 
      hsl(180, 10%, 60%) 3.8%, 
      hsl(180, 29%, 66%) 4.5%, 
      hsl(180, 10%, 60%) 5.2%, 
      #0e152e 10% , 
      #0e152e 12% 
      ),
    radial-gradient(
      farthest-corner circle 
      at var(--pointer-x) var(--pointer-y),
      hsla(0, 0%, 0%, 0.1) 12%, 
      hsla(0, 0%, 0%, 0.15) 20%, 
      hsla(0, 0%, 0%, 0.25) 120%
    );

  background-position: 
    center center, 
    0% var(--background-y), 
    calc( var(--background-x) + (var(--background-y)*0.2) ) var(--background-y), 
    var(--background-x) var(--background-y);

  background-blend-mode: soft-light, hue, hard-light;
  background-size: var(--imgsize), 200% 700%, 300% 100%, 200% 100%;

  filter: brightness(calc((var(--pointer-from-center)*0.4) + .4)) contrast(1.4) saturate(2.25);

}

.card[data-rarity="rare ultra"][data-supertype="pokémon"] .card__shine:after,
.card[data-rarity="rare ultra"][data-subtypes*="supporter"] .card__shine:after,
.card[data-rarity="rare holo v"][data-trainer-gallery="true"] .card__shine:after {

  content: "";

  background-position: 
    center center, 
    0% var(--background-y), 
    calc( (var(--background-x) + (var(--background-y)*0.2)) * -1) calc( var(--background-y) * -1), 
    var(--background-x) var(--background-y);

  background-size: var(--imgsize), 200% 400%, 195% 100%, 200% 100%;

  filter: brightness(calc((var(--pointer-from-center)*.4) + .7)) contrast(1.25) saturate(1.2);
  mix-blend-mode: exclusion;

}


.card[data-rarity="rare ultra"][data-supertype="pokémon"] .card__shine:before,
.card[data-rarity="rare ultra"][data-subtypes*="supporter"] .card__shine:before {

  content: "";
  mask-image: none;
  -webkit-mask-image: none;
  
  background-image: 
    radial-gradient( farthest-corner circle at var(--pointer-x) var(--pointer-y), 
      hsl(0, 0%, 100%) 0%, 
      hsla(0, 0%, 0%, 0) 80% 
    );
  background-position: center;
  background-size: cover;
  mix-blend-mode: screen;
  
  opacity: 0.7;
  z-index: 1;

}







/*

  GLARE LAYERS

*/

.card[data-rarity="rare ultra"][data-supertype="pokémon"] .card__glare,
.card[data-rarity="rare ultra"][data-subtypes*="supporter"] .card__glare {

  background-image: 
    radial-gradient( 
      farthest-corner circle at 
      var(--pointer-x) var(--pointer-y), 
      hsl(0, 0%, 100%) 0%, 
      hsla(210, 3%, 54%, 0.4) 45%, 
      hsla(240, 43%, 40%, 0.8) 120% 
    );

		background-size: 100% 120%;
		background-position: center center;
    opacity: calc(var(--card-opacity) * .75 );
    mix-blend-mode: multiply;

}








/*

  NO MASK

*/


.card:not(.masked)[data-rarity="rare ultra"][data-supertype="pokémon"] .card__shine,
.card:not(.masked)[data-rarity="rare ultra"][data-supertype="pokémon"] .card__shine:after,
.card:not(.masked)[data-rarity="rare holo v"][data-trainer-gallery="true"] .card__shine,
.card:not(.masked)[data-rarity="rare holo v"][data-trainer-gallery="true"] .card__shine:after {

  --mask: url("/img/illusion-mask.png");
  --foil: url("/img/illusion.png"); 
  --imgsize: 33%;

  mask-image: var(--mask);
  -webkit-mask-image: var(--mask);
  mask-size: var(--imgsize);
	-webkit-mask-size: var(--imgsize);

  background-blend-mode: exclusion, hue, hard-light;
  filter: brightness(calc((var(--pointer-from-center)*.3) + .5)) contrast(2) saturate(1.5);

}

.card:not(.masked)[data-rarity="rare ultra"][data-supertype="pokémon"] .card__shine:before,
.card:not(.masked)[data-rarity="rare holo v"][data-trainer-gallery="true"] .card__shine:before {
  content: none;
  display: none;
}

.card:not(.masked)[data-rarity="rare ultra"][data-supertype="pokémon"] .card__shine:after,
.card:not(.masked)[data-rarity="rare holo v"][data-trainer-gallery="true"] .card__shine:after {
  filter: brightness(calc((var(--pointer-from-center)*.5) + .8)) contrast(1.6) saturate(1.4);
}

.card:not(.masked)[data-rarity="rare ultra"][data-supertype="pokémon"] .card__glare,
.card:not(.masked)[data-rarity="rare holo v"][data-trainer-gallery="true"] .card__glare {
  mix-blend-mode: overlay;
}













/*

  SHINE LAYERS

*/

.card[data-rarity="rare ultra"][data-number="176"] .card__shine {
  
  filter: brightness(calc((var(--pointer-from-center)*0.05) + .8)) contrast(1.75) saturate(1.25);

}

.card[data-rarity="rare ultra"][data-number="176"] .card__shine:after {

  filter: brightness(calc((var(--pointer-from-center)*.4) + .85)) contrast(2) saturate(1.3);
  opacity: 0.9;

}

.card[data-rarity="rare ultra"][data-number="176"] .card__shine:before {

  opacity: 0.5;

}










/*

  GLARE LAYERS

*/

.card[data-rarity="rare ultra"][data-number="176"] .card__glare {

  opacity: calc( var(--card-opacity) * .75 );
  mix-blend-mode: multiply;

}