/*

  V FULL ART (ULTRA RARE)

*/







/*

  SHINE LAYERS

*/

.card[data-rarity="rare ultra"][data-supertype="pokémon"] .card__shine,
.card[data-rarity="rare ultra"][data-supertype="pokémon"] .card__shine:after,
.card[data-rarity="rare ultra"][data-subtypes*="supporter"] .card__shine,
.card[data-rarity="rare ultra"][data-subtypes*="supporter"] .card__shine:after {

  --space: 5%;
  --angle: 133deg;
  --imgsize: cover;

  background-image:
    var(--foil),
    repeating-linear-gradient( 0deg, 
      var(--sunpillar-clr-1) calc(var(--space)*1), 
      var(--sunpillar-clr-2) calc(var(--space)*2), 
      var(--sunpillar-clr-3) calc(var(--space)*3), 
      var(--sunpillar-clr-4) calc(var(--space)*4), 
      var(--sunpillar-clr-5) calc(var(--space)*5), 
      var(--sunpillar-clr-6) calc(var(--space)*6), 
      var(--sunpillar-clr-1) calc(var(--space)*7)
    ),
    repeating-linear-gradient( 
      var(--angle), 
      #0e152e 0%, 
      hsl(180, 10%, 60%) 3.8%, 
      hsl(180, 29%, 66%) 4.5%, 
      hsl(180, 10%, 60%) 5.2%, 
      #0e152e 10% , 
      #0e152e 12% 
      ),
    radial-gradient(
      farthest-corner circle 
      at var(--pointer-x) var(--pointer-y),
      hsla(0, 0%, 0%, 0.1) 12%, 
      hsla(0, 0%, 0%, 0.15) 20%, 
      hsla(0, 0%, 0%, 0.25) 120%
    );

  background-position: 
    center center, 
    0% var(--position-y), 
    calc( var(--position-x) + (var(--position-y)*0.2) ) var(--position-y), 
    var(--position-x) var(--position-y);

  background-blend-mode: soft-light, hue, hard-light;
  background-size: var(--imgsize), 200% 700%, 300% 100%, 200% 100%;

  filter: brightness(calc((var(--pointer-from-center)*0.3) + .5)) contrast(1.8) saturate(1.5);

}

.card[data-rarity="rare ultra"][data-supertype="pokémon"] .card__shine:after,
.card[data-rarity="rare ultra"][data-subtypes*="supporter"]  .card__shine:after {

  content: "";

  background-position: 
    center center, 
    0% var(--position-y), 
    calc( (var(--position-x) + (var(--position-y)*0.2)) * -1) calc( var(--position-y) * -1), 
    var(--position-x) var(--position-y);

  background-size: var(--imgsize), 200% 400%, 195% 100%, 200% 100%;

  filter: brightness(calc((var(--pointer-from-center)*.4) + .8)) contrast(2) saturate(1.2);
  mix-blend-mode: exclusion;

}











/*

  GLARE LAYERS

*/

.card[data-rarity="rare ultra"][data-supertype="pokémon"] .card__glare,
.card[data-rarity="rare ultra"][data-subtypes*="supporter"]  .card__glare {

  background-image: 
    radial-gradient( 
      farthest-corner circle at 
      var(--pointer-x) var(--pointer-y), 
      hsl(0, 0%, 100%) 0%, 
      hsla(210, 3%, 54%, 0.4) 45%, 
      hsla(240, 43%, 14%, 0.8) 140% 
    );

		background-size: 100% 120%;
		background-position: center center;

}
