/*

  V REGULAR

*/







/*

  SHINE LAYERS

*/

.card[data-rarity="rare holo v"]:not(.masked) .card__shine,
.card[data-subtypes="v-union"]:not(.masked) .card__shine {

  filter: brightness(.7) contrast(2) saturate(.5);

}

.card[data-rarity="rare holo v"] .card__shine,
.card[data-rarity="rare holo v"] .card__shine:after,
.card[data-subtypes="v-union"] .card__shine,
.card[data-subtypes="v-union"] .card__shine:after {

  --space: 5%;
  --angle: 133deg;
  --imgsize: 500px;

  background-image:
    var(--grain),
    repeating-linear-gradient( 0deg, 
      var(--sunpillar-clr-1) calc(var(--space)*1), 
      var(--sunpillar-clr-2) calc(var(--space)*2), 
      var(--sunpillar-clr-3) calc(var(--space)*3), 
      var(--sunpillar-clr-4) calc(var(--space)*4), 
      var(--sunpillar-clr-5) calc(var(--space)*5), 
      var(--sunpillar-clr-6) calc(var(--space)*6), 
      var(--sunpillar-clr-1) calc(var(--space)*7)
    ),
    repeating-linear-gradient( 
      var(--angle), 
      #0e152e 0%, 
      hsl(180, 10%, 60%) 3.8%, 
      hsl(180, 29%, 66%) 4.5%, 
      hsl(180, 10%, 60%) 5.2%, 
      #0e152e 10% , 
      #0e152e 12% 
      ),
    radial-gradient(
      farthest-corner circle 
      at var(--pointer-x) var(--pointer-y),
      hsla(0, 0%, 0%, 0.1) 12%, 
      hsla(0, 0%, 0%, 0.15) 20%, 
      hsla(0, 0%, 0%, 0.25) 120%
    );

  background-blend-mode: screen, hue, hard-light;
  background-size: var(--imgsize) 100%, 200% 700%, 300% 100%, 200% 100%;
  background-position: center, 0% var(--background-y), var(--background-x) var(--background-y), var(--background-x) var(--background-y);
  
  filter: brightness(.8) contrast(2.95) saturate(.65);

}

.card[data-rarity="rare holo v"] .card__shine:after,
.card[data-subtypes="v-union"] .card__shine:after {

  content: "";

  background-position: center, 0% var(--background-y), calc( var(--background-x) * -1) calc( var(--background-y) * -1), var(--background-x) var(--background-y);
  background-size: var(--imgsize) 100%, 200% 400%, 195% 100%, 200% 100%;

  filter: brightness(1) contrast(2.5) saturate(1.75);
  mix-blend-mode: soft-light;

}












/*

  GLARE LAYERS

*/

.card[data-rarity="rare holo v"] .card__glare,
.card[data-subtypes="v-union"] .card__glare {

  background-image: 
    radial-gradient( 
      farthest-corner circle at var(--pointer-x) var(--pointer-y), 
        hsl(0, 0%, 100%) 0%, 
        hsla(210, 3%, 54%, 0.33) 45%, 
        hsla(0, 0%, 20%, 0.9) 130% 
      );

  opacity: calc(var(--card-opacity)*.5);
  
  mix-blend-mode: hard-light;
  filter: brightness(.9) contrast(1.75);

}