* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: Roboto;
  background-color: rgb(57, 60, 66);
}

a {
  color: rgb(34, 240, 255);
  transition: all 0.3s ease;
}

a:hover,
a:focus {
  color: white;
}