:root {
  --primary: rgb(66, 219, 240);
  --link-hover: rgb(224, 241, 255);
}

* {
  box-sizing: border-box;
}

.p {
  text-align: justify;
  text-justify: inter-word;
}

.wallet-button {
  color: white;
  border-color: rgba(255, 255, 255, 0.9);
  font-weight: 500;
  font-size: large;
  border-radius: 5px;
  background-color: rgba(245, 103, 255, 0.9);
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 2em;
}

body {
  font-family: Roboto;
  font-size: large;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: white;
  transition: all 0.3s ease;
}

a:hover,
a:focus {
  color: var(--link-hover);
}

main {
  color: white;
  padding-top: 20px;
  max-width: 1200px;
  margin: auto;
}

.header2 {
  border: solid;
  border-color: rgba(255, 255, 255, 0.815);
  
  text-align: center;
  align-self: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1%;
  margin-bottom: 4rem;
  border-radius: 5px;
  grid-template-columns: 1fr;
  max-width: 85%;
  margin: auto;
}

.mint-menu {
  background-color: rgba(0, 0, 0, 0.6);
  display: grid;
  border-radius: 5px;
}

.mint-menu-title {
  display: grid;
  grid-template-columns: 1fr;
  padding: 3px;
  padding-top: 5px;
  padding-left: 8px;
}

.starknet-ball {
  background-image: url("https://i.ibb.co/4mWcrDd/starknet-ball.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 3px;
}

.header-inside {
  grid-template-columns: 1fr 1fr;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1%;
  border-radius: 5px;
  display: grid;
}

.header-inside-minted {
  border-radius: 5px;
  display: grid;  
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 3%;
}

header {  
  border: solid;
  border-color: rgba(255, 255, 255, 0.815);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1%;
  margin-bottom: 4rem;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1%;
  max-width: 85%;
  margin: auto;
}

header h2 {
  margin-top: 0;
  font-weight: 100;
}

header svg {
  width: 1em;
  fill: currentColor;
  position: relative;
  top: 2px;
  margin: 0 5px;
  display: inline-block;
}

@media screen and (min-width: 600px) {
  header {
    grid-template-columns: 50% 50%;
  }
  .showcase {
    grid-column: 2;
    grid-row: 1/5;
  }
  .intro {
    text-align: justify;
    padding-right: 5%;
  }
  .info,
  .author {
    grid-column: 1;
  }
}

@media screen and (min-width: 900px) {
  header {
    grid-template-columns: 60% 40%;
  }
}

.showcase { 
  transform: translate3d(0, 0, 0.1px);
  -webkit-transform: translate3d(0, 0, 0.1px);
  will-change: transform, visibility;
  transform-style: preserve-3d;
  padding: 5%;
  z-index: 99;
  margin: auto;
}

.minted-today {
  padding: 3%;
  max-width: min(215px, 50vw);
  margin: auto;
}

.card-tag {
  border-radius: 5px;
  padding: 3px;
  position:absolute;
  max-width: min(215px, 35vw);
  text-align: center;
  z-index: 1;
}

.minted-text-out-stock {
  border-radius: 5px;
  padding: 3px;
  position:absolute;
  max-width: min(215px, 35vw);
  text-align: center;
  background-color: rgba(213, 21, 238, 0.8);
  z-index: 1;
}

.minted-text-has-stock {
  border-radius: 5px;
  padding: 3px;
  position:absolute;
  max-width: min(215px, 35vw);
  text-align: center;
  background-color: rgba(13, 199, 0, 0.8);
  z-index: 1;
}

.quantity-text {
  font-family: Roboto;
  font-size: large;
  color: white;
  align-self: flex-end;
  position: absolute;
  border-radius: 5px;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.transfer-menu {
  font-family: Roboto;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: medium;
  border: solid;
  border-color: rgba(255, 255, 255, 0.815);
  color: white;
  position: absolute;
  left: 105%;
  width: 90%;
  border-radius: 5px;
  padding: 5px;
  z-index: 1;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.25em;
}


p {
  margin: 0 0 0.25em;
  line-height: 1.5;
}

p.small {
  font-size: 0.875rem;
  opacity: 0.75;
}

h1,
h2,
h3 {
  font-family: "Roboto Condensed";
}

h1 sup {
  font-weight: 300;
  font-size: 0.5em;
}

h2 {
  margin-top: 4em;
  margin-bottom: 0.25em;
}

h1 a,
h2 a,
h3 a {
  color: inherit;
  text-decoration: none;
  display: inline-flex;
}

h1 a:before,
h2 a:before,
h3 a:before {
  content: "⚓";
  position: absolute;
  transform: translate(-100px, -5px);
  width: 1em;
  height: 1em;
  opacity: 0;
  transition: all 0.5s cubic-bezier(.55,.06,.68,.19);
}

h1 a:hover:before,
h2 a:hover:before,
h3 a:hover:before,
h1:target a:before,
h2:target a:before,
h3:target a:before {
  content: "⚓";
  transform: translate(-200%, -5px);
  opacity: 1;
  transition: all 0.5s cubic-bezier(.22,.61,.36,1);
}

h2 + p,
h2 + p + p {
  font-style: italic;
  margin-bottom: 1em;
}

h2 sup {
  font-weight: 300;
  font-size: 0.75em;
}

hr {
  border: none;
  background: white;
  height: 1px;
  opacity: 0.25;
  margin: 1em -1em;
}

mark {
  background: #b53eff;
  color: white;
  font-style: italic;
  font-weight: bold;
  padding-inline: 0.25em;
  border-radius: 3px;
}

.back-to-top {
  font-weight: bold;
  position: fixed;
  bottom: 1em;
  right: 1em;
  padding: .5em 1em;
  border-radius: 5em;
  background: var(--primary);
  color: rgb(5, 58, 71);
  text-decoration: none;
  box-shadow: 0 7px 13px -5px currentColor;
}

.input-wallet {
  width: 100%;
  border-radius: 4px;
  font-size: large;
  background-color: white;
  background-size: 20px 20px;
  background-image: url('https://cdn-icons-png.flaticon.com/512/4803/4803345.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-bottom: 4px;
}

.flags {
  font-family: Roboto;
  text-align: center;
  align-self: center;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  color: white;
  padding: 12px 20px 12px 20px;
  background-size: 20px 20px;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  overflow: hidden;   
}

.send-menu {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.daily-trade-menu {
  width: 50%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.inside-header2 {
  padding: 3%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: auto;
  border-radius: 5px;
}

select{
  width: 100%;
  font-family: Roboto;
  align-self: center;
  text-align: center;
  width: 100%;
  /* border: 2px solid rgba(255, 255, 255, 0.3); */
  border-radius: 4px;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  margin-bottom: 1%;
  margin-right: 1%;
}