.card__shine {
  display: grid;
  overflow: hidden;
  transform: translateZ(1px);
  background: transparent;
  z-index: 3;
  mix-blend-mode: color-dodge;
  filter: brightness(.85) contrast(2.75) saturate(.65);
  background-size: cover;
  background-position: center;
  opacity: var(--o);
}

.card__shine:after {
  grid-area: 1/1;
}

.card[data-rarity="rare holo"] .card__shine {
  --space: 2px;
  --l: 50%;
  --s: 70%;
  --h: 21;
  --bars: 24px;
  --bar-color: rgba(255, 255, 255, 0.6);
  --bar-bg: rgb(10, 10, 10);
  clip-path: inset(10% 8.5% 52.5% 8.5%);

  background-image:
    radial-gradient(
      farthest-corner circle 
        at var(--mx) var(--my), 
        rgba(250, 250, 250, 0.8) 0%, 
        rgba(200, 200, 200, .1) 30%, 
        rgb(0, 50, 170) 100%
      ),
    repeating-linear-gradient( 90deg, 
      hsl(calc(var(--h)*0), var(--s), var(--l)) calc(var(--space)*0), hsl(calc(var(--h)*0), var(--s), var(--l)) calc(var(--space)*1), 
      black calc(var(--space)*1.001), black calc(var(--space)*1.999),
      hsl(calc(var(--h)*1), var(--s), var(--l)) calc(var(--space)*2), hsl(calc(var(--h)*1), var(--s), var(--l)) calc(var(--space)*3), 
      black calc(var(--space)*3.001), black calc(var(--space)*3.999),
      hsl(calc(var(--h)*2), var(--s), var(--l)) calc(var(--space)*4), hsl(calc(var(--h)*2), var(--s), var(--l)) calc(var(--space)*5), 
      black calc(var(--space)*5.001), black calc(var(--space)*5.999),
      hsl(calc(var(--h)*3), var(--s), var(--l)) calc(var(--space)*6), hsl(calc(var(--h)*3), var(--s), var(--l)) calc(var(--space)*7), 
      black calc(var(--space)*7.001), black calc(var(--space)*7.999),
      hsl(calc(var(--h)*4), var(--s), var(--l)) calc(var(--space)*8), hsl(calc(var(--h)*4), var(--s), var(--l)) calc(var(--space)*9), 
      black calc(var(--space)*9.001), black calc(var(--space)*9.999),
      hsl(calc(var(--h)*5), var(--s), var(--l)) calc(var(--space)*10), hsl(calc(var(--h)*5), var(--s), var(--l)) calc(var(--space)*11), 
      black calc(var(--space)*11.001), black calc(var(--space)*11.999),
      hsl(calc(var(--h)*6), var(--s), var(--l)) calc(var(--space)*12), hsl(calc(var(--h)*6), var(--s), var(--l)) calc(var(--space)*13), 
      black calc(var(--space)*13.001), black calc(var(--space)*13.999),
      hsl(calc(var(--h)*7), var(--s), var(--l)) calc(var(--space)*14), hsl(calc(var(--h)*7), var(--s), var(--l)) calc(var(--space)*15), 
      black calc(var(--space)*15.001), black calc(var(--space)*15.999),
      hsl(calc(var(--h)*8), var(--s), var(--l)) calc(var(--space)*16), hsl(calc(var(--h)*8), var(--s), var(--l)) calc(var(--space)*17), 
      black calc(var(--space)*17.001), black calc(var(--space)*17.999),
      hsl(calc(var(--h)*9), var(--s), var(--l)) calc(var(--space)*18), hsl(calc(var(--h)*9), var(--s), var(--l)) calc(var(--space)*19), 
      black calc(var(--space)*19.001), black calc(var(--space)*19.999),
      hsl(calc(var(--h)*10), var(--s), var(--l)) calc(var(--space)*20), hsl(calc(var(--h)*10), var(--s), var(--l)) calc(var(--space)*21), 
      black calc(var(--space)*21.001), black calc(var(--space)*21.999),
      hsl(calc(var(--h)*11), var(--s), var(--l)) calc(var(--space)*22), hsl(calc(var(--h)*11), var(--s), var(--l)) calc(var(--space)*23), 
      black calc(var(--space)*23.001), black calc(var(--space)*23.999),
      hsl(calc(var(--h)*12), var(--s), var(--l)) calc(var(--space)*24), hsl(calc(var(--h)*12), var(--s), var(--l)) calc(var(--space)*25), 
      black calc(var(--space)*25.001), black calc(var(--space)*25.999),
      hsl(calc(var(--h)*13), var(--s), var(--l)) calc(var(--space)*26), hsl(calc(var(--h)*13), var(--s), var(--l)) calc(var(--space)*27), 
      black calc(var(--space)*27.001), black calc(var(--space)*27.999),
      hsl(calc(var(--h)*14), var(--s), var(--l)) calc(var(--space)*28), hsl(calc(var(--h)*14), var(--s), var(--l)) calc(var(--space)*29), 
      black calc(var(--space)*29.001), black calc(var(--space)*29.999),
      hsl(calc(var(--h)*15), var(--s), var(--l)) calc(var(--space)*30), hsl(calc(var(--h)*15), var(--s), var(--l)) calc(var(--space)*31), 
      black calc(var(--space)*31.001), black calc(var(--space)*31.999)
    ),
    repeating-linear-gradient( 0deg, 
      var(--vio), var(--blu), var(--gre), var(--yel), var(--red), var(--vio)
    ),
    repeating-linear-gradient( 90deg, 
      var(--bar-bg) calc(var(--bars)*2), var(--bar-color) calc(var(--bars)*3), var(--bar-bg) calc(var(--bars)*3.5), var(--bar-color) calc(var(--bars)*4), var(--bar-bg) calc(var(--bars)*5), var(--bar-bg) calc(var(--bars)*12)
    ),
    repeating-linear-gradient( 90deg, 
      var(--bar-bg) calc(var(--bars)*2), var(--bar-color) calc(var(--bars)*3), var(--bar-bg) calc(var(--bars)*3.5), var(--bar-color) calc(var(--bars)*4), var(--bar-bg) calc(var(--bars)*5), var(--bar-bg) calc(var(--bars)*9)
    );
    background-blend-mode: overlay, soft-light, soft-light, screen, overlay;
    background-position: center, center, 0% calc(var(--posy)*5) , calc(var(--posx)*-1.2) var(--posy), var(--pos);
    background-size: cover, 100% 100%, 300% 190%, 237% 237%, 195% 195%;
    filter: brightness(calc((var(--hyp) + 0.7)*0.7)) contrast(3.2) saturate(.66);
}

/* .card__shine.holo.stage:not(.v):not(.vmax):not(.vstar) { */
.card[data-rarity="rare holo"][data-subtypes^="stage"] .card__shine {
  clip-path: polygon(91.78% 10%, 57% 10%, 53.92% 12.00%, 17% 12%, 16% 14%, 12% 16%, 8.5% 16%, 7.93% 47.41%, 92.07% 47.41%);
}
/* .card__shine.holo.trainer:not(.v):not(.vmax):not(.vstar) { */
.card[data-rarity="rare holo"][data-subtypes^="supporter"] .card__shine {
  clip-path: inset(14.5% 7.9% 48.2% 8.7%);
}

.card[data-rarity*="rare holo v"] .card__shine,
.card[data-rarity*="rare holo v"] .card__shine:after {
  --space: 5%;
  --angle: 133deg;
  background-image:
  url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCI+CjxmaWx0ZXIgaWQ9Im4iPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjciIG51bU9jdGF2ZXM9IjEwIiBzdGl0Y2hUaWxlcz0ic3RpdGNoIj48L2ZlVHVyYnVsZW5jZT4KPC9maWx0ZXI+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjMDAwIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWx0ZXI9InVybCgjbikiIG9wYWNpdHk9IjAuMyI+PC9yZWN0Pgo8L3N2Zz4="),
    repeating-linear-gradient( 0deg, 
      rgb(255, 119, 115) calc(var(--space)*1), 
      rgba(255,237,95,1) calc(var(--space)*2), 
      rgba(168,255,95,1) calc(var(--space)*3), 
      rgba(131,255,247,1) calc(var(--space)*4), 
      rgba(120,148,255,1) calc(var(--space)*5), 
      rgb(216, 117, 255) calc(var(--space)*6), 
      rgb(255, 119, 115) calc(var(--space)*7)
    ),
    repeating-linear-gradient( 
      var(--angle), 
      #0e152e 0%, 
      hsl(180, 10%, 60%) 3.8%, 
      hsl(180, 29%, 66%) 4.5%, 
      hsl(180, 10%, 60%) 5.2%, 
      #0e152e 10% , 
      #0e152e 12% 
      ),
    radial-gradient(
      farthest-corner circle 
      at var(--mx) var(--my),
      rgba(0, 0, 0, .1) 12%, 
      rgba(0, 0, 0, .15) 20%, 
      rgba(0, 0, 0, .25) 120%
    );
    background-blend-mode: screen, hue, hard-light;
    background-size: 500px, 200% 700%, 300%, 200%;
    background-position: center, 0% var(--posy), var(--posx) var(--posy), var(--posx) var(--posy);
    
    filter: brightness(.8) contrast(2.95) saturate(.5);
}

.card[data-rarity="rare holo v"] .card__shine:after {
  content: "";
  background-position: center, 0% var(--posy), calc( var(--posx) * -1) calc( var(--posy) * -1), var(--posx) var(--posy);
  background-size: 500px, 200% 400%, 195%, 200%;
  filter: brightness(1) contrast(2.5) saturate(1.75);
  mix-blend-mode: soft-light;
}



.card[data-rarity="rare holo vmax"] .card__shine {
  --space: 6%;
  --angle: 133deg;
  background-image:
    url(/vmaxbg.webp),
    repeating-linear-gradient( -33deg, 
      rgb(206, 42, 36) calc(var(--space)*1),  
      rgb(157, 170, 223) calc(var(--space)*2), 
      rgb(45, 153, 146) calc(var(--space)*3), 
      rgb(29, 151, 36) calc(var(--space)*4), 
      rgb(181, 64, 228) calc(var(--space)*5), 
      rgb(206, 42, 36) calc(var(--space)*6)
    ),
    repeating-linear-gradient( 
      var(--angle), 
      rgba(14, 21, 46, 0.5) 0%, 
      hsl(180, 10%, 50%) 2.5%, 
      hsl(83, 50%, 35%) 5%, 
      hsl(180, 10%, 50%) 7.5%, 
      rgba(14, 21, 46, 0.5) 10% , 
      rgba(14, 21, 46, 0.5) 15% 
      ),
    radial-gradient(
      farthest-corner circle 
      at var(--mx) var(--my),
      rgba(6, 218, 255, 0.6) 0%, 
      rgba(38, 235, 127, 0.6) 25%, 
      rgba(155, 78, 228, 0.6) 50%, 
      rgba(228, 78, 90, 0.6) 75%
    );
  background-blend-mode: color-burn, screen, soft-light;
  background-size: 60% 30%, 1100% 1100%, 600% 600%, 200% 200%;
  background-position: 
    center, 
    0% var(--posy), 
    var(--posx) var(--posy), 
    var(--posx) var(--posy);

  filter: brightness(calc((var(--hyp)*0.3) + 0.5)) contrast(2.5) saturate(.6);

}


.card[data-rarity="rare ultra"][data-subtypes="supporter"] .card__shine,
.card[data-rarity="rare ultra"][data-subtypes="supporter"] .card__shine:after {
  --space: 5%;
  --angle: 133deg;
  background-image:
    url("/trainerbg.jpg"),
    repeating-linear-gradient( 0deg, 
      rgb(255, 119, 115) calc(var(--space)*1), 
      rgba(255,237,95,1) calc(var(--space)*2), 
      rgba(168,255,95,1) calc(var(--space)*3), 
      rgba(131,255,247,1) calc(var(--space)*4), 
      rgba(120,148,255,1) calc(var(--space)*5), 
      rgb(216, 117, 255) calc(var(--space)*6), 
      rgb(255, 119, 115) calc(var(--space)*7)
    ),
    repeating-linear-gradient( 
      var(--angle), 
      #0e152e 0%, 
      hsl(180, 10%, 60%) 3.8%, 
      hsl(180, 29%, 66%) 4.5%, 
      hsl(180, 10%, 60%) 5.2%, 
      #0e152e 10% , 
      #0e152e 12% 
      ),
    radial-gradient(
      farthest-corner circle 
      at var(--mx) var(--my),
      rgba(0, 0, 0, .1) 12%, 
      rgba(0, 0, 0, .15) 20%, 
      rgba(0, 0, 0, .25) 120%
    );

  background-blend-mode: difference, hue, soft-light;
  background-size: 50%, 200% 700%, 300%, 200%;
  background-position: center, 0% var(--posy), var(--posx) var(--posy), var(--posx) var(--posy);
  
  filter: brightness(0.5) contrast(3.95) saturate(1);

}


.card[data-rarity="rare ultra"][data-subtypes="supporter"] .card__shine,
.card[data-rarity="rare ultra"][data-subtypes="supporter"] .card__shine:after {
  --space: 5%;
  --angle: 133deg;
  background-image:
  url("/trainerbg.jpg"),
    repeating-linear-gradient( 0deg, 
      rgb(255, 119, 115) calc(var(--space)*1), 
      rgba(255,237,95,1) calc(var(--space)*2), 
      rgba(168,255,95,1) calc(var(--space)*3), 
      rgba(131,255,247,1) calc(var(--space)*4), 
      rgba(120,148,255,1) calc(var(--space)*5), 
      rgb(216, 117, 255) calc(var(--space)*6), 
      rgb(255, 119, 115) calc(var(--space)*7)
    ),
    repeating-linear-gradient( 
      var(--angle), 
      #0e152e 0%, 
      hsl(180, 10%, 60%) 3.8%, 
      hsl(180, 29%, 66%) 4.5%, 
      hsl(180, 10%, 60%) 5.2%, 
      #0e152e 10% , 
      #0e152e 12% 
      ),
    radial-gradient(
      farthest-corner circle 
      at var(--mx) var(--my),
      rgba(0, 0, 0, .1) 12%, 
      rgba(0, 0, 0, .15) 20%, 
      rgba(0, 0, 0, .25) 120%
    );
    background-blend-mode: difference, hue, hard-light;
    background-size: 50%, 200% 700%, 300%, 200%;
    background-position: center, 0% var(--posy), var(--posx) var(--posy), var(--posx) var(--posy);
    
    filter: brightness(0.75) contrast(2.5) saturate(.75);
}

.card[data-rarity="rare ultra"][data-subtypes="supporter"] .card__shine:after {
  content: "";
  background-size: 50%, 200% 400%, 195%, 200%;
  background-position: center, 0% var(--posy), calc( var(--posx) * -1) calc( var(--posy) * -1), var(--posx) var(--posy);
  filter: brightness(1.2) contrast(1) saturate(1.75);
  mix-blend-mode: exclusion;
}





.card[data-rarity="rare rainbow"] .card__shine,
.card[data-rarity="rare rainbow"] .card__shine:after {

  --space: 7%;
  --angle: -20deg;
  --angle2: 130deg;
  background-image:
    /* url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCI+CjxmaWx0ZXIgaWQ9Im4iPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjY3MiIgbnVtT2N0YXZlcz0iMiIgc3RpdGNoVGlsZXM9InN0aXRjaCI+PC9mZVR1cmJ1bGVuY2U+CjwvZmlsdGVyPgo8cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzAwMCI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsdGVyPSJ1cmwoI24pIiBvcGFjaXR5PSIwLjciPjwvcmVjdD4KPC9zdmc+"), */
    url(/rainbow.jpg),
    repeating-linear-gradient( var(--angle), 
      rgb(253, 71, 65) calc(var(--space)*1), 
      rgb(255, 243, 151) calc(var(--space)*2), 
      rgba(168,255,95,1) calc(var(--space)*3), 
      rgba(131,255,247,1) calc(var(--space)*4), 
      rgb(75, 198, 255) calc(var(--space)*5), 
      rgb(255, 73, 246) calc(var(--space)*6), 
      rgb(255, 56, 49) calc(var(--space)*7)
    ),
    repeating-linear-gradient( var(--angle2), 
      rgba(89, 46, 80, 0.5) 0%, 
      hsl(118, 43%, 76%) 2.5%, 
      rgb(223, 96, 202) 5%, 
      hsl(180, 57%, 56%) 7.5%, 
      rgba(14, 21, 46, 0.5) 10% , 
      rgba(14, 21, 46, 0.5) 15% 
    ),
    url(/illusion.webp);

  background-size: 100% 100%, 500% 500%, 1000% 1000%, 450px 450px;
  background-position: center, 0% calc( var(--posy) * 1.5 ), var(--posx) var(--posy), center;
  background-blend-mode: color-burn, soft-light, normal;
  filter: brightness(calc((var(--hyp)*0.25) + 0.66)) contrast(4) saturate(.75);

}

.card[data-rarity="rare rainbow"] .card__shine:after {
  --space: 10%;
  --angle: 70deg;
  content: "";
  background-position: center, 0% calc( var(--posy) * -1 ), calc( var(--posx) * -1 ) calc( var(--posy) * -1 ), center;
  mix-blend-mode: exclusion;
}